@using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="container h-100 mb-3">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar d-flex flex-row w-100">
                <input class="search_input" type="text" name="name" placeholder="Enter name or author" style="width:230px; border-radius: 1em;">
                <button type="submit" class="btn" style="color:white;"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
}